# Dashboard Notebook

Contem o código para gerar os gráficos da carteira.

## Importando as libs

In [70]:
import pandas as pd
import os

## Criando o DataFrame

In [71]:
dataset_path = os.path.join(os.path.dirname(os.getcwd()),'data','wallet.ods')
display(dataset_path)

'/home/william/Documentos/dev/abaco/data/wallet.ods'

In [72]:
df = pd.read_excel(dataset_path,engine='odf')
print(df)

    ticker movimentacao  quantidade  preco_unitario  valor_total        nota  \
0   CPTS11       Compra          12            8.53       102.36  83517579.0
1   MXRF11       Compra          10           10.34       103.40  83517579.0
2   VGHF11       Compra          10            9.34        93.40  83517579.0
3    ITSA4       Compra           1           10.36        10.36  83687318.0
4    ITSA3       Compra          10           10.28       102.80  85305023.0
5    KLBN3       Compra           1            5.03         5.03  85305023.0
6    KLBN3       Compra          14            5.04        70.56  85305023.0
7    ITSA4        Venda           1           10.17        10.17  85390196.0
8    AURE3       Compra           5           12.11        60.55  85631946.0
9    KLBN3       Compra           1            4.99         4.99  85631946.0
10  BCFF11       Compra           1            9.09         9.09  86040880.0
11   BEES3       Compra          10            9.20        92.00  87395693.0
12   KLBN3       Compra           4            4.63        18.52  87395693.0
13   SAPR3       Compra          10            5.15        51.50  87395693.0
14   TAEE3       Compra           6           11.69        70.14  87395693.0
15  BCFF11       Compra           9            8.94        80.46  87395693.0
16   KLBN3  Bonificacao           2            2.85         5.70         NaN

   data_pregao   observacao
0   2024-03-04          NaN
1   2024-03-04          NaN
2   2024-03-04          NaN
3   2024-03-06          NaN
4   2024-04-01          NaN
5   2024-04-01          NaN
6   2024-04-01          NaN
7   2024-04-02          NaN
8   2024-04-05          NaN
9   2024-04-05          NaN
10  2024-04-12          NaN
11  2024-05-06          NaN
12  2024-05-06          NaN
13  2024-05-06          NaN
14  2024-05-06          NaN
15  2024-05-06          NaN
16  2024-05-09  Bonificação

## PATRIMÔNIO

In [76]:
df1 = df.insert(4, 't_venda', 0.0)
print(df1)

ValueError: cannot insert t_venda, already exists

In [77]:
df1 = df1.insert(4, 't_venda', 0.0)
print(df1)

AttributeError: 'NoneType' object has no attribute 'insert'

In [80]:
df.groupby([pd.Grouper(key='data_pregao',freq='ME'),'movimentacao'])